<% @page_title = "Admin Menu" %>

<div class="menu">

	<h2>
		Admin Menu
	</h2>
	<div class="identity">
		Logged in as: <%= session[:username]%>
	</div>
	<ul>
		<li>
			<%= link_to("Manage Subjects", :controller => 'subjects')%>
		</li>		
		<li>
			<%= link_to("Manage AdminUsers", :controller => 'admin_user')%>
		</li>
		<li>
			<%= link_to("Logout", :controller => 'access/logout')%>
		</li>
	</ul>
	
</div>