
 <%= link_to "<< back to list" , {:action => 'index'}, :class => 'back_link' %>


 <div class="page edit">
 	<h2>update Pages</h2>
 	<%= form_for(:pages, :url => { :action => 'update', :id => @pages.id } ) do |f| %>
 		<%= render(:partial => "form", :locals => {:f => f})%>
 		<div class="form buttons">
 			<%= submit_tag("update pages")%>
 		</div>
 		
 	<% end %>
 </div>


