 <%= link_to "<< back to list" , {:action => 'index'}, :class => 'back_link' %>


 <div class="subject edit">
 	<h2>update Subject</h2>
 	<%= form_for(:subject, :url => { :action => 'update', :id => @subject.id } ) do |f| %>
 		<%= render(:partial => "form", :locals => {:f => f})%>
 		<div class="form buttons">
 			<%= submit_tag("update Subject")%>
 		</div>
 	<% end %>
 </div>