
<%= link_to "<< back to list" , {:action => 'index'}, :class => 'back_link' %>
<div class="admin delete">
	<h2>admin deletes</h2>

	<%= form_for(:adminuser, :url => { :action => 'destroy', :id => @adminuser.id } ) do |f| %>
		<p>are you sure you want delete this admin?</p>
		<p class="reference-name"> <%= @adminuser.first_name %></p>
		<div class="form-buttons">
			<%= submit_tag("Delete adminuser")%>
		</div>
	<% end %>
</div>