 <%= link_to "<< back to list" , {:action => 'index'}, :class => 'back_link' %>


 <div class="admin edit">
 	<h2>update Admin info</h2>
 	<%= form_for(:adminuser, :url => { :action => 'update', :id => @adminuser.id } ) do |f| %>
 		<%= render(:partial => "form", :locals => {:f => f})%>
 		<div class="form buttons">
 			<%= submit_tag("update adminuser")%>
 		</div>
 	<% end %>
 </div>