 

 <%= link_to "<< back to list" , {:action => 'index'}, :class => 'back_link' %>
 <div class="admin new">
 	<h2>Create Admin</h2>
 	<%= form_for(:adminuser, :url => { :action => 'create' } ) do |f| %>
 		<%= render(:partial => "form", :locals => {:f => f})%>
 		<div class="form buttons">
 			<%= submit_tag("Create adminuser")%>
 		</div>
 	<% end %>
 </div>